parameters:
  phpstanMigrationRules:
    phinx:
      requiredCollation: utf8

services:
  -
    class: PhpStanMigrationRules\Rules\Phinx\EnforceCollationRule
    arguments:
      requiredCollation: %phpstanMigrationRules.phinx.requiredCollation%
    tags:
      - phpstan.rules.rule