parametersSchema:
    phpstanMigrationRules: structure([
        phinx: structure([
            requiredCollation: string()
        ])
    ])

parameters:
    phpstanMigrationRules:
        phinx:
            requiredCollation: utf8

services:
    -
        class: PhpStanMigrationRules\Rules\Phinx\EnforceCollationRule
        arguments:
            requiredCollation: %phpstanMigrationRules.phinx.requiredCollation%
        tags:
            - phpstan.rules.rule

    -
        class: PhpStanMigrationRules\Rules\Phinx\ForbidAfterRule
        tags:
            - phpstan.rules.rule

    -
        class: PhpStanMigrationRules\Rules\Phinx\ForbidMultipleTableCreationsRule
        tags:
            - phpstan.rules.rule

    -
        class: PhpStanMigrationRules\Rules\Laravel\ForbidAfterRule
        tags:
            - phpstan.rules.rule
            
    -
        class: PhpStanMigrationRules\Rules\Laravel\ForbidMultipleTableCreationsRule
        tags:
            - phpstan.rules.rule