name: Downgraded Release

on:
  push:
    tags:
      - '*'

jobs:
  downgrade_release:
    runs-on: ubuntu-latest

    steps:
      -   uses: actions/checkout@v4

      -   uses: shivammathur/setup-php@v2
          with:
            php-version: 8.5
            coverage: none

      -   uses: ramsey/composer-install@v2

      -   run: composer run rector:downgrade
          shell: bash
    
      -   run: |
            git config user.email "aggelosbellos7@gmail.com"
            git config user.name "Aggelos Bellos"

      -   name: "Tag Downgraded Code"
          run: |
            # separate a "git add" to add untracked (new) files too
            git add --all
            git commit -m "Release PHP 7.4 downgraded"
            
            # force push tag, so there is only 1 version
            git tag "${GITHUB_REF#refs/tags/}" --force
            git push origin "${GITHUB_REF#refs/tags/}" --force